body {
  overflow-x: hidden;
}

.navbar {
  background-color: #128a5d;
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: #128a5d;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #128a5d;
    transition: all 0.5s;
  }
}
