@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&family=Work+Sans:wght@300&display=swap');

.secondsection {
  background-color: #0a6847;
}

.angka {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
}
